= render "layouts/header"
.my-page-yo
  .mypage-both
    .mypage-left
    .mypage-right
      .mypage-right-box-top
        = image_tag "スクリーンショット 2019-07-04 16.17.54", class: "mypage-right-box-top-image"
        .mypage-right-box-top-image
      .mypage-right-box-bottom