.confirm-block
  .confirm-both
    .confirm-left
      サイドバー
    .confirm-right
      .confirm-say 
        %h1 本人情報の登録
      .confirm-box
        %p  お客さまの本人情報をご登録ください。
        %p 登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
        = link_to "https://www.mercari.com/jp/help_center/article/495/" do
          %h6 本人確認書類のアップロードについて
        .confirm-name-birthday
          %label お名前 
          .confirm-name
            %p 勝野 天欄
          %label お名前カナ
          .confirm-name-kana
            %p カツノ テンラ
          %label 生年月日
          .confirm-birthday
            %p 2000/11/15