.confirm-block
  .confirm-both
    .confirm-left
      サイドバー
    .confirm-right
      .confirm-say 
        %h1 本人情報の登録
      .confirm-box
        %p  お客さまの本人情報をご登録ください。
        %p 登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
        = link_to "https://www.mercari.com/jp/help_center/article/495/" do
          %l.fa.fa-chevron-right.upload2{"aria-hidden" => "true"}
          %p.upload 本人確認書類のアップロードについて
            
        .confirm-name-birthday
          %label お名前 
          .confirm-name
            %p 勝野 天欄
          %label お名前カナ
          .confirm-name-kana
            %p カツノ テンラ
          %label 生年月日
          .confirm-birthday
            %p 2000/11/15
          .form-group
            %p 郵便番号
            %span.form 任意
          %input{placeholder: "例) 12345678"}
          .form-group
            %p 都道府県 
            %span.form 任意
          %select#id_pref{:name => "prefecture"}
          .form-group
            %p 市区町村
            %span.form 任意
          %input{placeholder: "例) 横浜市緑区"}
          .form-group
            %p 番地
            %span.form 任意
          %input{placeholder: "例) 青山1-1-1"}
          .form-group
            %p 建物名
            %span.form 任意
          %input{placeholder: "例) 柳木ビル103"}
          .form-send
            %p 登録する
          = link_to "https://www.mercari.com/jp/help_center/article/423/" do
            %p.fa.fa-chevron-right{"aria-hidden" => "true"}
            %h7 本人情報の登録について
