.finish
  .finish-image-both
    .finish-image-left
      = image_tag "logo-mercari.svg", class:"finish-image-left-image"
    .finish-image-right
      = image_tag "スクリーンショット 2019-07-02 19.32.37", class: "finish-image-right-image"
  .finish-note
    .finish-note-set
      %p.finish-note-say2 支払い方法
    .finish-say-thanks 
      %p.finish-thanks-here ありがとうございます。
      %p.finish-thanks-here2 会員登録完了が完了しました
    .finish-last-last-box
      %button.finish-last-box
        %p.finish-send-here メルカリをはじめる
  .finish-footer
    