.flame {
	width: 100%;
	background-color: #F5F5F5;
	padding-top:	30px;

	.content_box__wrapper {
		width: 1020px;
		margin: 0 auto;

		.content_box {
			height: 2007px;
			width: 700px;
			background-color: white;
			float: right;

			.content_box__logo {
				height: 96px;
				 width: 700px;
				font-size: 22px;
				font-weight: bold;
				background-color:white;
				border-bottom: 1px solid #F5F5F5;
				display: flex;
				align-items:center;
				display: flex;
				justify-content:center;
			
			}
			
			.content_upload__main	{
				height: 302px;
				width: 700px;
				display: flex;
				align-items:center;
				display: flex;
				justify-content:center;
				border-bottom: 1px solid #F5F5F5;
				margin: auto;
				.content_upload__main2 {
					height: 262px;
					width: 620px;

				}
				


				.content_upload__logo {
				height: 15px;
				width: 540px;
				background-color: yellow;
				margin:40px 0 8px 0; 
				font-size: 16px;
				font-weight: bold;
				line-height: 15px;

			}

				.content_upload__logo2 {
					height: 12px;
					width: 540px;
					background-color:green;
					margin-bottom: 16px; 
					font-size: 16px;
					line-height: 12px;
				}
				.content_upload__item__logo {
					height: 161px;
					width: 620px;
					background-color:#F5F5F5;
					color: #333;
					font-size: 14px;
					font-weight: bold;
					display: flex;
				  align-items:center;
				  display: flex;
					justify-content:center;
					border: 0.5px dashed #CCCCCC;

					
				

				}

			}

			
		}
	}
}
