.flame_profile_edit {
  width: 100%;
  background-color:#F5F5F5;
  padding-top: 40px;
  
  .profile_box__wrapper {
    height: 1300px;
    width: 1020px;
    margin: 0 auto;
    
    .profile_box {
      height: 567px;
      width: 700px;
      
      .profile_box__logo {
        height: 29px;
        font-size: 24px;
        font-weight: bold;
        background-color:white;
        text-align: center;
        padding: 10px 0 15px 0;
      }
      .profile_box__main {
        height: 155px;
        width: 700px;
        background-image: image-url("user-bg.jpg");
        display: flex;
        justify-content:center;
        display: flex;
        align-items:center;
        border-style: none;
        
        .profile_box__icon {
          height: 60px;
          width: 60px;
          background-color: white;
          border-radius: 50%;
          margin: 40px -10px 0 0;
          img {
            height: 60px;
            width: 60px;
            border-radius: 50%;
          }
        }
        .profile_box__input {
          height: 48px;
          width: 220px;
          border-radius: 0.2em;	
          background-color:white;
          margin: 40px 0 0 20px;
          border-style: none;
          padding: 0 0 0 10px;
        }
      }
      .profile_box__textara {
        height: 215px;
        width: 668px;
        margin: auto;
        margin-top: 40px; 
        
        .profile_box__textara2 {
          height: 215px;
          width: 668px;
          padding: 0 0 0 10px;
        }
      }
      .profile_box__btn  {
        height: 50px;
        width: 668px;
        background-color: #EA352D;
        border-style: none;
        display: flex;
        justify-content:center;
        display: flex;
        align-items:center;
        margin-top: 20px;
        margin-left: 17px;

        .profile_box__btn2 {
          color: white;
          font-size: 16px;
        }
      }
        background-color:white;
        float: right;
    }
  }
}

