.flame_logout {
  height: 1400px;
  width: 100%;
  background-color:#F5F5F5;

  .logout-wrapper {
    height:  1250px;
    width: 1020px;
    margin: 0 auto;
    padding-top: 45px;

    .box_main {
      height: 180px;
      width: 700px;
      background-color: white;
      margin: auto;
      display: flex;
      justify-content:center;
      display: flex;
      align-items:center;
      float: right;

      &__sub {
        height: 49px;
        width: 280px;
        background-color: #EA352D;
        color: white;
        font-size: 14px;
        display: flex;
        justify-content:center;
        display: flex;
        align-items:center;
      }
    }
  }
}