.products-show-wrapper{
  width:100%;
  height:3950px;
  background-color:#f5f5f5;
  padding-top:40px;
  .products-show-main{
    max-width:45%;
    height:1320px;
    background-color: white;
    margin:0 auto;
    padding: 24px 40px 40px;
    .products-name{
      font-size: 24px;
      text-align: center;
      font-weight: bold;
      color: #333;
    }
    .products-details{
      height:420px;
      margin-top:16px;
      .products-images-photo{
        width:50%;
        float: left;
        height:100px;
        .top-products-img{
          float: left;
          margin-bottom: 35px;
        }  
        .products{
          font-size: 0;
          .products-images{
            opacity: 0.5;
          }
        }
      }
      .products-detail{
        width:300px;
        height:420px;
        float: right;
        .products-width{
          display: flex;
          flex-direction:column;
          .product-width{
            height: 75px;
            display: flex;
            flex-direction: inline-flex;
            border: solid 1px#f1f1f1;
            .product-detail-show{
              height: 75px;
              width:40%;
              font-size: 14px;
            }
            .product-detail-show-txt{
              width:60%;
              font-size: 14px;
              color:#0099E8;
              padding:5px;
              box-sizing: border-box;
              .fa-smile-o{
                color:red;
                display: block;
                margin-top:5px;
                float: left;
                margin-left:5px;
                .favo-count{
                 float: right;
                 font-size: 14px;
                 color:#333;
                 margin-left:5px;
                }
              }
              .fa-meh-o{
                color:yellow;
                display: block;
                margin-top:5px;
                float: left;
                margin-left:5px;
                .favo-count{
                  float: right;
                  font-size: 14px;
                  color:#333;
                  margin-left:5px;
                 }
              }
              .fa-frown-o{
                color:#0099E8;
                display: block;
                margin-top:5px;
                float: left;
                margin-left:5px;
                .favo-count{
                  float: right;
                  font-size: 14px;
                  color:#333;
                  margin-left:5px;
                 }
              }
              
            }
            .category,.seller{
              background-color: #f5f5f5;
              font-weight: 400;
              font-size:14px;
              line-height: 75px;
              border-bottom: solid 1px#f1f1f1;
              box-sizing: border-box;
              padding-left:8px;
              color:#333;
            }
          }
        }
        .products-narrow{
          display: flex;
          flex-direction:column;
          .product-narrow{
            height: 45px;
            display: flex;
            flex-direction: inline-flex;
            border: solid 1px#f1f1f1;
            .product-narrow-show-detail{
              height: 45px;
              width:40%;
              font-size: 14px;
              background-color: #f5f5f5;
              background-color: #f5f5f5;
              font-weight: 400;
              font-size:14px;
              line-height: 45px;
              border-bottom: solid 1px#f1f1f1;
              box-sizing: border-box;
              padding-left:8px;
              color:#333;
            }
            .product-narrow-show-detail-txt{
              width:59%;
              font-size: 14px;
              line-height: 45px;
              color:#333;
            }
            .link-color{
              color:#0099E8;
            }
          }
        }
      }
    }
    .products-price-box{
      text-align: center;
      padding-top:24px;
      height:50px;
      width:70%;
      margin: 0 auto;
      padding-left:40px;
      .products-price{
        font-size: 50px;
        font-weight: bold;
        color:#333;
        float: left;
      }
      .products-tax{
        font-size:12px;
        float: left;
        line-height: 100px;
        margin-left:10px;
        color:#333;
      }
      .send-fee{
        font-size:16px;
        float: left;
        line-height: 100px;
        color:#333
      }
  }
  .clear{
    clear: both;
  }
  .product-show-buy-btn{
    background: red;
    color:white;
    font-weight: bold;
    font-size:24px;
    height:60px;
    text-align: center;
    line-height: 60px;
  }
  .products-description{
    margin-top: 32px;
    font-size: 18px;
    font-weight: 400;
    color:#333;
  }
  .products-company-policy{
    margin-top:20px;
    width:50%;
    float: left;
    .products-good-btn{
      background-color: #f5f5f5;
      height:33px;
      width:135px;
      border-radius:40px;
      float: left;
      .products-good-btn-txt{
        padding:8px 16px;
        font-size: 14px;
        .fa-heart-o{
          color:#333;
          float: left;
          line-height: 20px;
        }
        .good-txt{
          float: left;
          margin-left:5px;
        }
      }
    }
    .products-bad-btn{
      background-color: #f5f5f5;
      height:33px;
      width:180px;
      border-radius:40px;
      float: left;
      margin-left:5px;
      .products-bad-btn-txt{
        padding:8px 16px;
        font-size: 14px;
        .fa-flag-o{
          color:#333;
          float: left;
          line-height: 20px;
        }
        .bad-txt{
          float: left;
          margin-left:5px;
        }
      }
    }
  }
  .safety{
    float: right;
    margin-top: 24px;
    width:49%;
    .safety-box{
      float: right;
      .fa-lock{
        display: block;
      line-height: 20px;
      float: left;
      color:#0099E8;
      }
      .safety-txt{
      font-size: 14px;
      margin-left:5px;
      display: block;
      float: right;
      color:#0099E8;
      }
  }
  }
  }
  .products-show-comment{
    max-width:45%;
    height:600px;
    background-color: white;
    margin:0 auto;
    padding: 24px 40px 40px;
    margin-top:10px;
    .comment-box{
      width:660px;
      height:120px;
      margin:20px 0 20px 0;
      .icon-redius{
        height:40px;
        width:40px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #f5f5f5;
        text-align: center;
        box-sizing: border-box;
        float: left;
      .comment-icon{
        margin-top:10px;
      }
      }
      .comment-name{
        float: left;
        font-size: 14px;
        font-weight: bold;
        margin-left:10px;
      }
      .commment-text-box {
        width:600px;
      float: right;
        background-color: #f5f5f5;
        margin-top: 5px;
        padding: 16px;
        box-sizing: border-box;
        border-radius: 15px;
        .fa.fa-clock-o{
          float: left;
          line-height: 25px;
          color:#AAA;
        }
        .day-text{
          float: left;
          margin-left: 5px;
          color:#AAA;
        }
      }
    }
    .anounce-txt-box{
      height:44px;
      background: #fff6de;
      padding:8px;
      font-size: 14px;
      color:#333;
      margin-top:60px;
    }
    .commnet-area{
      width:100%;
      min-height: 104px;
      margin-top:10px;
      margin-bottom: 10px;
    }
    .send-btn{
      text-align: center;
      height:50px;
      background-color: #AAA;
      color: white;
      line-height: 50px;
    }
  }
  .nav-link{
    max-width:50%;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:20px;
    height:50px;
    .nav-link-before{
     color:#0099E8;
     font-size: 14px;
     float: left;
    }
    .nav-link-after{
      color:#0099E8;
      font-size: 14px;
      float: right;
    }
  }
  .clear{
    clear: both;
  }
  .sns-main{
    max-width:45%;
    height:100px;
    background-color: white;
    margin:0 auto;
    padding: 24px 40px 40px;
    text-align: center;
    .products-sns-btn{
      margin:0 auto;
      width:30%;
      padding-top:30px;
      .sns-icon{
        width:44px;
        height:44px;
        background-color: #385185;
        text-align: center;
        line-height: 55px;
        border-radius: 4px;
        float: left;
        margin-left:10px;
        .fa-facebook-official{
          color:white; 
        }
        .fa-twitter{
          color:white;
        }  
        .fa-pinterest{
          color:white;
        }
      }
      .twitter{
        background-color: #0099E8;
      }
      .pinterest{
        background-color:#aa262a;
      }
    }
  }
  .seller-another-label{
    max-width:50%;
    height:50px;
    margin:0 auto;
    color: #0099E8;
    font-size: 22px;
    font-weight: bold;
    padding-top:50px;
  }
  .seller-another-poducts{
    display:flex;
    flex-direction: row;
    width:51%;
    margin: 0 auto;

    .seller-another-poduct{
      width:33%;
      box-sizing: border-box;
      text-align: center;
      .another-product{
        vertical-align: bottom;
      }
      .another-item-text-box{
        height:110px;
        width:220px;
        margin:0 10px;
        padding:16px;
        box-sizing: border-box;
        background-color: #fff;
        position: relative;
        .another-item-name{
          text-align: left;
          font-size:16px;
        }
        .another-item-price-top{
          text-align: left;
          font-family:sans-serif;
          font-weight: 600;
          font-size: 13px;
          color:#333;
          position: absolute;
          bottom: 16px;
        }
      }
    }
  }
  .second-line-products{
    margin-top:25px;
  }
}