.image-content
  .image-banner
    .image-banner-txt
      %h2
        スマホで簡単フリマアプリ
      %p
        今すぐ無料ダウンロード !
      .banner-icon
        = image_tag "mercari_profile.png", size:"68x68",class:"logo-mercari"
        .google-apple
          = image_tag 'app-store.svg',class: "app-store"
          = image_tag 'google-play.svg',class: "google-store"
    = image_tag 'download_content_pc.png',size:"300x261",class:"phone-image"