.buy-wrapper
  .buy-mercari
    .buy-mercari-icon
      %a{href:"/",class:"buy-icon-a"}
        =image_tag "logo.svg",size:"185x49",class:'buy-logo-img'
  .buy-main
    .buy-main-content
      .buy-item-check
        購入内容の確認
      .buy-item-detail
        .buy-item-label
          =image_tag 'm27603844485_1.jpg',size:'64x64',class:'buy-item-img'
          %p.buy-item-name
            ナチュラルビューティーベーシック<br>テーラードジャケット ネイビー
        .buy-item-price
          ¥2,800
          %p.item-send-fee
            送料込み
        .point-btn
          ポイントはありません
        .pay-price-check
          %p.checking-price-label
            支払い金額
          %p.checking-price
            ¥2,800
