%body
	.flame
		.content_box__wrapper
			%section.content_box
				%h2.content_box__logo
					商品の情報を入力
				.content_upload__main
					.content_upload__main2
						%h3.content_upload__logo
							出品画像
							%span.icon
								必須	
						%p.content_upload__logo2
							最大10枚までアップロードできます
						%h3.content_upload__item__logo
							ドラッグアンドドロップ
							%br
							またはクリックしてファイルをアップロード
						
